/**
 * global theme variable.
 *
 * @author tangjiahui
 * @date 2024/3/28
 */
@import "./base.theme.css";
@color: var(--color);
@colorLight: var(--colorLight);
@primary: var(--primary);
@primaryLight: var(--primaryLight);
